body{
  margin: 0px;
}
.App{
  background-color: #fbfcfd;
  margin: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Baskervville', serif;
  font-family: 'IM Fell Great Primer SC', serif;
}
.slider-background{
  width: 100%;
  height: 200px;
  background-color: #3a454e;
  margin-top: 90px;
}
.news-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 0px;
  padding-top: 0px;
  border-top: 1px solid #e5e5e5;
  position: relative;
  top: -100px;
}
.news-main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.sun-icon{
  width: 47px;
}